@font-face {
    font-family: josef;
    src: url(./JosefinSans-Regular.ttf);
}

:root{
    ---offwhite-color: rgba(250, 250, 250, 1);
    ---white-color: #fff;
    ---darkgray-color: #ffffff;
    ---black-color: #000000;
    ---gray-color: #808080;
    ---lightgray-color: #edeef0;
    ---lightblue-color: rgba(227, 228, 241, 1);
    ---dark-color:rgba(0, 0, 0, 0.1);
    ---paleblack-color: rgba(73, 76, 107, 1);
   
}

.dark-mode{
    ---offwhite-color: rgba(23, 24, 35, 1);
    ---white-color: rgba(57, 58, 75, 1);
    ---black-color: #fff;
    ---paleblack-color: rgba(200, 203, 231, 1);
    ---lightblue-color: rgba(227, 228, 241, 1);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: josef;
}
body{
    overflow-x: hidden;

}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: var(---offwhite-color);
    min-height: 100vh;
}

.top{
    width: 100vw;
    min-height: 35vh;
    background-image: url(./images/light.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo{
    position: absolute;
    width: 30vw;
    top: 10%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 50px;
    /* border: 2px solid red; */
}

.heading h1{
    color: white;
    font-size: 24px;
    letter-spacing: 5px;
}

.toggler{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;

}

.toggler > img{
    position: absolute;
    right: 0;
    cursor: pointer;
    visibility: hidden;
}

.toggler .active-theme{
    visibility: hidden;
}
.toggler .not-active-theme{
    visibility: visible;
}


.add-task{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(---white-color);
    height: 45px;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 30px;
}

.add-task button{
    background: var(---white-color);
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 0.1px solid #ffffff;
}

.checkbox{
    width: 20px;
    height: 20px;
    border: 0.1px solid #ffffff;
}

.add-task input{
    background: var(---white-color);
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    text-align: left;
    color: var(---paleblack-color);
}

.list{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: var(---white-color);
    margin-bottom: 30px;
    box-shadow: 0 15px 30px var(---dark-color);
}

.list ul{
    list-style: none;
    text-decoration: none;
}

.completedTasksList .activeTask{
    display: none;
}
.activeTasksList .completedTask{
    display: none;
}



ul li{
    list-style: none;
    user-select: none;
    color: var(---paleblack-color);
    font-size: 17px;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 18px 50px;
    border-bottom:0.5px solid var(---lightblue-color);
}

ul li::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-image: url(./icons/dark\ Oval.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    transition: 0.5;
    border: 0.2px solid #ffffff;
    /* border: 0.5px solid rgb(240, 240, 243); */
}

ul li.checked{
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./icons/tick\ in\ circle.png);
}

ul li span{
    position: absolute;
    right: 12px;
    top: 12px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: var(---white-color);
    border-radius: 50%;
    text-align: center;
}

/* ul li span:hover{
    background: var(---lightgray-color);
} */


.list-menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    margin-top: 60px;
    font-size: smaller;
    color:var(---gray-color);
}

.list-options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-options >p:hover{
    color: var(---black-color);
    cursor: pointer;
}

.clear-option >p:hover{
    color: var(---black-color);
    cursor: pointer;
}

.drag-and-drop-text{
    margin-top: 40px;
    width: 100%;
    text-align: center;
    color:var(---gray-color);
}

.active-list{
    color: rgba(58, 124, 253, 1);
}

@media screen and (max-width: 768px){
    .todo{
        width: 70vw;
        left: 15vw;
    }
}